@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Exo|Source+Sans+Pro');

.preimages {
    display: none;
}

.fader{
	position:absolute;
	overflow::hidden;
	top:0;
	left:0;
	z-index=-999;
	height:100vh;
	width:100%;
	-webkit-filter: blur(0px);
	background-size:cover;
	background-position: 50% 50%;
	background-repeat:no-repeat
}


.header{
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 0px);
    z-index: 1000;
    text-align: center;
    float: left;
	padding-right:14.5px;
	background: rgba(0,0,0,0.3);
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;	
    z-index: 999;
}

.header div{
	color: #fff;
	font-family: 'Exo', sans-serif;
    padding-right: 14px;
	font-size: 40px;
	font-weight: 400;
}

.header div span{
	position: absolute;
    clear: left;
    display: block;
	color: #F29E20;
}

.login{
	position: absolute;
    top: calc(50% - 113px);
	left: calc(50% + 232px);
    z-index: 1000;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	border-radius:10px;
    z-index: 999;
}

.registration {
    position: absolute;
    padding: 0.2%;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    top: calc(50% + 40px);
    left: calc(50% + 236px);
    background: rgba(0,0,0,0.3);
}

.registration div{
    color: bisque;
    font-family: 'Exo', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
}


a.register{
    position: absolute;
    font-family: 'Exo', sans-serif;
    font-size: 1.4em;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    top: calc(50% + 40px);
    left:calc(50% + 391.5px);
    padding: 0.2% 0.6%;
    background: rgba(0,0,0,0.3);
	color: white;
    float: right;
    font-weight: 400;
    text-decoration: underline;
}

a.register:hover{
    font-size: 150%;
    padding: 0.09% 0.5%;
    text-decoration: none;
    background: black;
    color: white;
}

.login input[type=email]{
	width: 260px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 260px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.LoginButton{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 5px;
	color: #000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 800;
	padding: 6px;
	margin-top: 10px;
}

.LoginButton:hover{
	opacity: 0.6;
}

.LoginButton:active{
	opacity: 0.9;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.LoginButton:focus{
	outline: none;
}

.copyright{
	position: fixed;
	width: 100%;
	left:0px;
	text-align: center;
	bottom: 0px;
	font-family: 'Exo', sans-serrif;
	font-size: 12px;
	font-weight: 600px;
    letter-spacing: 0.5px;
    color: black;
    font-weight: 300;
	background-color: rgba(225,225,225,0.3);
	display:block;
}

.copyright p{
	margin-bottom:-0.4px;
	margin-top:5zpx;
	font-size:12.5px;
	font-weight:700;
	padding-top:-20px;
	}	

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

#loader-wrapper{
	position: fixed;
	top: 0;
	left 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.6);
}

#loader{
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 175px;
	height: 175px;
    border-radius: 50%;
	margin: -87.5px 0 0 -87.5px;
	border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
	#loader:before{
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom:5px;
        border-radius: 50%;
		border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
	}

	#loader:after{
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
        border-radius: 50%;
		border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
	}

@-webkit-keyframes spin{
    0% {
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keframes spin{
     0% {
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    } 
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.2s 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.2s 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000);2
}

.alert{
    height: 30px;
    line-height: 0;
    margin-top: 15px;
    position: absolute;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
	top: 63.5%;
	left: 65%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: none;
    cursor: pointer;
}

.alert-error{
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}

.alert:empty{ 
    display: none;
}

.forgot {
    position: absolute;
    padding: 0.2%;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    top: calc(50% + 75px);
    left: calc(50% + 236px);
    background: rgba(0,0,0,0.3);
    color: bisque;
    font-family: 'Exo', sans-serif;
    font-weight: 100;
}

.forgot:hover {
    background: black;
    color: white;
}

