@import url('https://fonts.googleapis.com/css?family=Exo|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

*{
    margin: 0;
}

html, body{
    height: 100%;
}

a:focus, a:hover{
	color: white;
	text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    text-align: center;
    font-family:'Exo', sans-serif;
    z-index: 9999;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    z-index: 99999;
    color: white;
}

nav > ul > li {
    float: left;
    color: white;
    width: auto;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 999999;
}

nav > ul > li > a{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    z-index: 99999;
}

nav > ul > li:hover{
    background-color:rgba(0,0,0,0.7);
    text-decoration: none;
    color: white;
    border-radius: 0 0 3.5px 3.5px;
    -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
    z-index: 99999;
}

ul.drop-menu {
    position: relative;
    top: 100%;
    padding: 0;
    list-style: none;
    z-index: 9999;
}

ul.drop-menu.menu-5{
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    transition: all 0.3s ease;
    width: 180px;
    border-radius: 0 0 3.5px 3.5px;
    z-index: 9999;
    list-style: none;
}

.menu-3{
    width: 170px;
}

.menu-3 li{
    line-height: 30px;
} 

.menu-4 {
	width: 110px;
}

.menu-4 li{
	line-height: 25px;
}

ul.drop-menu a {
    color: white;
    display: none;
    margin-bottom: 4px;
    list-style: none;
    text-decoration: none;
    z-index: 9999;
}
ul.drop-menu a:hover {
    background-color: rgba(225,225,225,0.5);
    width: inherit;
    border-radius: 5px;
    color: white;
    z-index: 9999;
}

li:hover ul.drop-menu a {
  display: block;
    -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
    z-index: 9999;
}

a.log{
    position: absolute;
    top: 0;
    right: 10px;
    float: right;
    color: white;
    width: 100px;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}

a.logged{
    position: absolute;
    right: 0px;
    float: right;
    color: white;
    width: 180px;
    font-size: 22px;
    font-family: 'Rock Salt', sans-serif;
    cursor: pointer;
    letter-spacing: 1.5px;  
    text-decoration: underline;
}


a.log:hover, a.logged:hover{
    background-color: rgba(225,225,225,0.5);
    color:black;
}

.menu5 li{
	line-height: 30px;
}

footer{
	position: relative;
	bottom: 0;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Alegreya', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

.footer-Developer{
    color:  #ffffff;
    line-height: 20px;
    font-weight: 200;
	font-family:'Alegreya';
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	 margin: 20px 0 12px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	padding-top:7px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;

	margin-right: 3px;

}


 
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}




.img1,.img2,.img3{
    position :relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img1{
        background-image: url(images/dslr.jpg);
}

.img2{
            background-image: url(images/dslr1.jpg);
}

.img3{
                background-image: url(images/photo.jpg);

    
}
.lp {
  position: absolute;
  left:0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.lp span.txt,.lp1 span.pic{
    padding: 8px 8px;
    letter-spacing: 3px;
    font-size: 30px;
    display: inline-block;
    background-color: #111;
    color:white;
    opacity: 0.7;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

    
        body,html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.tip,.tip1{
    font-size: 20px;
}



.marg{
    margin-left: 40px;
    margin-right: 40px;
}

.panel-body p{
    font-family: 'Sansita', sans-serif; 
    font-size: 17px;
    background-color:#F5FFFA;
    padding: 40px;
}

.panel-heading h3{
    font-family: 'Almendra', serif;
    font-size: 18px;
    text-decoration: underline;
}

.panel-heading h4{
font-family: 'Courgette';
    font-size:23px;
    text-align: center;
}